.card {
  margin: 0 auto;
  max-width: 312px;
  width: 100%;
  animation: fadeIn linear 0.3s;

  &__image {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 196px;
  }

  &__content {
    padding: 20px 0;
  }
}
