$green: #012d26;
$gray: #5b6866;
$blue: #3948ff;
$sky-blue: #ebedff;
$light-gray: #e5f0ee;

$primary-color: $green;
$secondary-color: $gray;
$background-color: $sky-blue;

$mobile: 320px;
$tablet: 768px;
$desktop-sm: 992px;
$desktop: 1200px;
$desktop-lg: 1600px;
